.contact__wrapper{
        display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;
    text-align: center;
    margin: 1rem 0;
}

.contact__wrapper h1{
    font-size: 65px;
    padding-top: 2rem;
}

.contact__wrapper p{
    margin: 1rem 0;
    color: var(--color-gray);
}

.contact__container{
    width: 100%;
    padding: 0 3rem;
}

.form-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.email-input {
  padding: 15px 30px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  outline: none;
  width: 500px;
  background-color: #f8f8f8;
  color: #333;
  transition: border-color 0.3s ease;
}

.email-input:focus {
  border-color: var(--color-primary-hover);
}

.contact-button {
  padding: 14px 28px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--color-primary);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.contact-button:hover {
  background-color: var(--color-primary-hover);
}

.contact-button:active {
  background-color: var(--color-primary-hover);
}

@media screen and (max-width:800px){
    .contact__wrapper h1{
        font-size: 50px;
        padding: 0 1rem;
    }

    .contact__wrapper p{
        width: 100%;
        padding: 0 1rem;
    }

    .email-input{
        width: 60%;
    }

        .email-input{
        width: 50%;
    }
}

@media screen and (max-width: 550px){
        .contact__wrapper h1{
        line-height: 3rem;
    }

    .form-container{
        gap: 6px;
    }
}

@media screen and (max-width: 400px){
    .form-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .email-input{
        width: 70%;
    }

    .contact-button{
        width: 70%;
    }
}

@media screen and (max-width:330px){
    .contact__wrapper h1{
        line-height: 4rem;
        font-size: 45px;
    }
}