.aboutme__wrapper{
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AboutMe__left{
    width: 50%;
    padding: 2rem 4rem;
    background: var(--color-primary);
}


.AboutMe__right{
    width: 50%;
    padding: 1rem 4rem;
}

.AboutMe__right h1{
    margin-top: 5rem;
    font-size: 65px;
    line-height: 4rem;
}

.AboutMe__right p{
    width: 90%;
    margin: 1.5rem 0;
    color: var(--color-gray);
}

@media screen and (max-width:1100px) {

    .aboutme__wrapper{
        display: flex;
        flex-direction: column;
    }

    .AboutMe__right{
        order:1;
        width: 100%;
    }

    .AboutMe__right p{
        width: 95%;
    }

    .AboutMe__left{
        order:2;
        width: 100%;
    }
}

@media screen and (max-width: 450px){
        .AboutMe__right h1{
            line-height: 4rem;
            padding: 0;
            margin: 2rem 0;
        }
}
